@import '../../components/sharedStyles/utils/variables';
@import '../../components/sharedStyles/utils/mixins';

.catalog-page {
  background-color: #f3f5f7;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  align-items: center;
  margin-top: 5rem;
  padding: 2rem 0 2rem 0;

  &__categories {
    display: flex;
    justify-content: center;
    max-width: 80rem;
    align-items: center;
    height: 100%;
    gap: 3rem;
    flex-wrap: wrap;
  }
}

@include respond($tablet-portrait) {
  .catalog-page {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &__categories {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
    }
  }
}