.catalog-page {
  background-color: #f3f5f7;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  align-items: center;
  margin-top: 5rem;
  padding: 2rem 0 2rem 0;

  &__categories {
    display: flex;
    justify-content: center;
    width: 60%;
    align-items: center;
    height: 100%;
    gap: 3rem;
    flex-wrap: wrap;


    &__element {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 20rem;
      padding-top: 2rem;
      box-shadow: 0 .5rem 2rem #0403031a;
      width: 22rem;
      height: 21rem;
      transition: .3s;
      cursor: pointer;
      border-radius: 50%;
      animation: slide_in .5s;

      &__category {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__name {
          margin: 0;
          color: #5c4a4a;
          font-size: 1.8rem;
        }
      }

      &:hover {
        box-shadow: 0 .5rem 2rem rgb(255, 210, 172);
        margin-bottom: 2rem;

        .catalog-page__categories__element__category__name {
          color: #FD794F;
        }
      }

      & img {
        width: 18rem;
        height: 18rem;
        border-radius: 50%;
      }
    }
  }

  &__products-showcase {
    min-height: 50rem;
    height: fit-content;
    padding-top: 8rem;

    &__cakes {
      display: none;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      padding-bottom: 10rem;

      &__visible {
        display: flex;
      }
    }

    &__cookies {
      display: none;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      padding-bottom: 10rem;

      &__visible {
        display: flex;
      }
    }

    &__bakery {
      display: none;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      padding-bottom: 10rem;

      &__visible {
        display: flex;
      }
    }

    &__ice-cream {
      display: none;
      transition: 5s;
      height: 30rem;
      margin: 2rem 2rem;
      gap: 5rem;

      &__visible {
        display: flex;
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__title {
          display: flex;
          justify-content: flex-start;
          font-style: italic;
          font-size: 3rem;
          border-bottom: 1px;
          font-family: 'Open Sans', sans-serif;
          margin: 0;
          color: #424141;
        }

        &__message {
          display: flex;
          justify-content: flex-start;
          font-family: 'Calligraffitti', cursive;
          font-size: 2rem;
          margin-top: 0;
          color: #FD794F;
        }
      }

      & img {
        width: 25rem;
        height: 30rem;
        border-radius: 4rem;
      }
    }

    &__candy-bar {
      display: none;
      justify-content: center;
      height: 50rem;

      &__visible {
        display: flex;
      }
    }
  }
}

.horizontal-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ccc, #444141, #ccc);
  width: 15rem;
}

.scroll-up-button {
  position: fixed;
  display: none;
  left: 95%;
  top: 10%;
  cursor: pointer;

  &__visible {
    display: unset;
  }

  & svg {
    color: #FD794F;

  }
}

@keyframes slide_in {
  from {
    margin-top: 5rem;
  }

  to {
    margin-top: 0;
  }
}
