.cakes {
  display: flex;
  width: 20rem;
  justify-content: center;


  &__container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 .5rem 2rem #0403031a;
    height: 26rem;
    width: 15rem;
    border-radius: .5rem;
    transition: .5s;
    background-color: white;

    &__primary-info {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: white;
      z-index: 2;

      &__price {
        margin-top: 0;
        color: #424141;
        font-size: 1rem;
        z-index: 2;
      }

      &__type {
        font-size: 1.2rem;
        cursor: pointer;
        z-index: 2;
      }

      &__button {
        border-radius: .5rem;
        background-color: #FD794F;
        color: white;
        border: none;
        height: 1.7rem;
        width: 7rem;
        font-size: .9rem;
        cursor: pointer;
        transition: .6s;
        z-index: 2;

        &:hover {
          height: 1.8rem;
          width: 7.5rem;
          font-size: 1rem;
        }
      }
    }

    & img {
      width: 15rem;
      height: 18rem;
      border-top-right-radius: .5rem;
      border-top-left-radius: .5rem;
      cursor: pointer;
      z-index: 2;
    }

    &__visible {
      height: 40rem;
      background-color: white;
    }

    &__info {
      display: none;
    }

    &__info-visible {
      position: absolute;
      top: 64%;
      display: flex;
      justify-content: center;
    }

    &:hover {
      box-shadow: 0 .5rem 2rem rgb(255, 210, 172);
    }
  }
}

.cake-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

