@import '../../components/sharedStyles/utils/variables';
@import '../../components/sharedStyles/utils/mixins';

.category {
  display: flex;
  width: 8rem;
  height: 20rem;
  justify-content: center;
  margin: 0 3rem;


  &__container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 26rem;
    transition: .5s;
    background-color: transparent;


    &__primary-info {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: transparent;
      z-index: 2;

      &__image {

        &__wrapper {
          width: 100%;
          display: flex;
          background-color: #F8FAFB;
          border-radius: 3rem;

          &__card {
            background-color: #F8FAFB;
            border: 1px solid black;
            border-radius: 3rem;
            height: 23rem;
            width: 18rem;
            cursor: pointer;
            transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
            overflow: hidden;
            position: relative;

            & img {
              width: 100%;
              height: 100%;
              transition: all .1s;

            }

            &__visible-info {
              transition: all .5s;
              box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
              transform: scale(.97);

              & img {
                transition: all .5s;
                transform: scale(1.6) rotate(10deg);
                filter: blur(3px);
              }
            }

            &__visible-info &__descriptions {
              transition: all .7s ease-in-out;
              clip-path: circle(75%);
            }

            &__descriptions {
              position: absolute;
              top: 0;
              left: 0;
              background-color: rgba(255, 255, 255, .8);
              width: 100%;
              height: 100%;
              transition: all .7s ease-in-out;
              padding: 10px;
              box-sizing: border-box;
              clip-path: circle(0% at 100% 100%);

              & div {
                display: flex;
                align-items: flex-start;

                & p {
                  font-size: 1.1rem;
                  margin: 0;
                }
              }

              & h1 {
                margin-top: 0;
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }

      &__type {
        font-size: 1.7rem;
        margin: 0 0 1rem 0;
        cursor: pointer;
        z-index: 2;
      }
    }

    &__visible {
      height: 40rem;
    }
  }
}

.category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 2rem;
  gap: 10rem;

  &__choosing {

    &__first-section {
      display: flex;
      align-items: center;
      justify-content: center;
      filter: brightness(100%);
      width: 70rem;
      height: 20rem;
      border: 1px solid black;
      border-radius: 2rem 2rem 0 0;
      background-image: url('/macarons.jpg');
      cursor: pointer;


      &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        transition: .5s;
        background-color: white;
        mix-blend-mode: screen;
        font-size: 4rem;
        font-weight: bold;
        font-style: italic;
      }

      &:hover {
        filter: brightness(80%);

        .category-list__choosing__first-section__name {
          transform: translateY(-1rem);
        }
      }
    }

    &__second-section {
      display: flex;
      align-items: center;
      justify-content: center;
      filter: brightness(100%);
      width: 70rem;
      height: 20rem;
      border: 1px solid black;
      border-radius: 0 0 2rem 2rem;
      background-image: url('/macarons.jpg');
      cursor: pointer;
      transition: .5s;

      &__name {
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        transition: .5s;
        background-color: white;
        mix-blend-mode: screen;
        font-size: 4rem;
        font-weight: bold;
        font-style: italic;
      }

      &:hover {
        filter: brightness(80%);

        .category-list__choosing__second-section__name {
          transform: translateY(-1rem);
        }
      }
    }
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 7rem;
    gap: 10rem;
  }
}


.mobile-info {
  display: none;
}

@include respond($phone) {
  .category {
    padding-bottom: 1rem;
    height: 13rem;

    &__container {
      height: fit-content;

      &__primary-info {

        &__button {
          width: 2.5rem;
          height: 2.5rem;
        }

        &__image {

          &__wrapper {

            &__card {
              width: 8rem;
              height: 10rem;

              &__descriptions {
                display: none;
                transition: none;
                clip-path: none;
              }

              &__visible-info {
                transition: none;
                clip-path: none;

                & img {
                  transform: none;
                  filter: none;
                }
              }
            }
          }
        }

        &__type {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          font-size: 1.4rem;
          margin: .5rem 0 0 0;
        }
      }
    }
  }

  .category-list {
    display: flex;
    padding-top: 4rem;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2rem;
    margin: 0;

    &__choosing {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 80%;


      &__first-section {
        margin: auto;
        width: 100%;
        height: 15rem;

        &__name {
          font-size: 3rem;
          margin: 0 2rem;

        }
      }

      &__second-section {
        margin: auto;
        width: 100%;
        height: 15rem;

        &__name {
          font-size: 2.3rem;
          margin: 0 2rem;

        }
      }
    }

    &:hover {
      filter: none;

      .category-list__choosing__second-section__name {
        transform: none;
      }
    }

    &__products {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      gap: 2rem;
    }
  }


  .mobile-info {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100rem;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    transition: .4s;

    &__visible {
      top: 5rem;
    }

    &__header {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      flex-direction: column;

      &__title {
        color: white;
        font-size: 2rem;
      }
    }

    &__body {
      height: fit-content;
      margin: 0 1rem;

      &__info {
        font-size: 1.3rem;
        color: white;
      }

      &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;

        & img {
          border-radius: 2rem;
          width: 100%;
          height: 100%;
        }
      }
    }

    &__close-button {
      position: absolute;
      top: 2%;
      right: 2%;

      & svg {
        color: white;
      }
    }
  }

  .category {
    margin: 0 1rem;
  }
}






