@import '../../components/sharedStyles/utils/variables';
@import '../../components/sharedStyles/utils/mixins';

.about-us {
  background-color: #f3f5f7;
  padding-top: 1rem;
  gap: 2rem;
  margin-top: 5rem;
  position: absolute;
  flex-direction: column;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__information {
    width: 100%;
    height: 100%;

    &__sections {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      gap: 1rem;

      &__section {
        box-shadow: 0 .5rem .5rem #0403031a;
        display: flex;
        border-radius: 1rem;
        background-color: white;
        transition: .5s;
        width: 30rem;
        height: 100%;
        min-height: 20rem;

        &__arrow {
          display: flex;
          align-items: flex-start;
          margin-top: .2rem;

          & svg {
            width: 3rem;
            height: 3rem;
          }
        }

        &__container {
          display: flex;
          flex-direction: column;

          &__title {
            display: flex;
            margin: .5rem;
            font-size: 2rem;
            color: #494949;
          }

          &__details {

            &__contact-list {
              display: flex;
              flex-direction: column;
              gap: 2rem;

              &__element {
                display: flex;
                align-items: center;

                &__name {
                  font-size: 1.5rem;
                  margin: 0;
                }

                & svg {
                  width: 1.5rem;
                  height: 1.5rem;
                }
              }

              &__social-media {
                display: flex;
                align-items: center;
                gap: 2rem;

                &__element {
                  display: flex;
                  cursor: pointer;

                  & svg {
                    border-radius: 10px;
                  }
                }
              }
            }

            & p {
              font-size: 1.5rem;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }

  &__group-photo {
    width: 35rem;
    height: 20rem;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 10rem 10rem 1rem 1rem;
    }
  }
}


.info {
  display: none;


  &__info-visible {
    position: absolute;
    top: 64%;
    display: flex;
    justify-content: center;
  }
}

@include respond($tablet-landscape) {
  .about-us {
    position: relative;
    height: 100%;
    width: 100%;

    &__group-photo {
      display: flex;
      justify-content: center;
      width: 80%;
      height: 30%;

      & img {
        width: 95%;
        height: 55%;
      }
    }

    &__information {
      width: 95%;

      &__sections {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;

        &__section {
          min-height: 10rem;
          width: 100%;

          &__container {
            margin: 0;

            &__title {
              display: flex;
              align-items: center;
              height: 3.5rem;
              margin: 0;
              font-size: 1.8rem;
            }

            &__details {

              &__contact-list {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                &__element {
                  display: flex;
                  align-items: center;

                  &__name {
                    font-size: 1.5rem;
                    margin: 0;
                  }

                  & svg {
                    width: 2rem;
                    height: 2rem;
                  }
                }

                &__social-media {
                  display: flex;
                  align-items: center;
                  gap: 2rem;
                  padding-bottom: 2rem;

                  &__element {
                    display: flex;
                    cursor: pointer;

                    & svg {
                      border-radius: 10px;
                      height: 2.5rem;
                      width: 2.5rem;
                    }
                  }
                }
              }

              & p {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
}

