@import '../sharedStyles/utils/variables';
@import '../sharedStyles/utils/mixins';

.categories {
  display: flex;
  justify-content: center;
  width: 60%;
  align-items: center;
  height: 100%;
  gap: 3rem;
  flex-wrap: wrap;

  &__element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 30rem;
    height: 15rem;
    background-image: radial-gradient( circle farthest-corner at 3.1% 8.2%,  rgba(248,250,107,1) 0%, rgba(238,148,148,1) 98.2% );
    transition: .3s;
    cursor: pointer;
    animation: slide_from_bottom .5s;
    border-radius: 1rem;
    padding-left: 1rem;

    &__image {
      width: 13rem;
      height: 13rem;
      overflow: hidden;
      border-radius: 1rem;

      & img {
        object-position: center;
        object-fit: contain;
        height: 100%;
        border-radius: 1rem;
      }
    }

    &__category {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__name {
        top: 100%;
        margin: 0;
        color: #5c4a4a;
        font-size: 1.8rem;
      }

    &:hover {
      transition: .3s all;
      transform: translateY(-.3rem);
    }
    }
  }
}

@include respond($tablet-portrait) {

  .categories {
    display: flex;
    justify-content: center;
    width: 10%;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    &__element {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 30%;
      max-width: 12rem;
      min-height: 25%;
      height: 11rem;

      &__image {
        width: 8rem;
        height: 8rem;
        overflow: hidden;
        border-radius: 1rem;

        & img {
          object-position: center;
          object-fit: contain;
          height: 100%;
          border-radius: 1rem;
        }
      }
    }
  }
}

@include respond($phone) {
  .categories {

    &__element {
      padding-top: 1rem;
      flex-direction: column;
      height: 9rem;
      width: 9rem;

      &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        overflow: hidden;
        border-radius: 1rem;

        & img {
          object-position: center;
          object-fit: contain;
          height: 100%;
          border-radius: 1rem;
        }
      }
    }
  }
}