@import '../../components/sharedStyles/utils/variables';
@import '../../components/sharedStyles/utils/mixins';

.product-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 15rem;
  height: 100%;
  cursor: default;
  background-color: transparent;

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    width: 100%;

    &__price {
      display: flex;
      font-size: 1.5rem;
      margin-top: 0;
    }

    &__composition {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
      width: 100%;

      & li {
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        font-style: italic;
      }
    }

    &__recommendation {
      width: 100%;
    }
  }

  & svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@include respond($tablet-landscape) {
  .product-info {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;

    &__details {
      gap: 3rem;
      width: fit-content;

      &__price {
        justify-content: center;
      }

      &__composition {
        display: flex;
        flex-direction: column;

        &__wrapper {
          height: 8rem;
          width: fit-content;
          display: flex;
          gap: 1rem;
          flex-direction: column;
          flex-wrap: wrap;

        }

        & div {
          display: flex;

          & p {
            margin: 0;
          }
        }
      }

      &__recommendation {
        margin: 0;
      }
    }
  }
}


