.nav-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  gap: 25%;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;

  &__logo {
    cursor: pointer;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10rem;
    height: 3.5rem;

    &__home {
      font-weight: 500;
      font-style: italic;
      font-size: 1.4rem;
      color: #494949;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #f67715;
        font-size: 1.45rem;
      }
    }

    &__catalog {
      font-weight: 500;
      font-style: italic;
      font-size: 1.4rem;
      color: #494949;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #f67715;
        font-size: 1.45rem;
      }
    }

    &__about-us {
      font-weight: 500;
      font-style: italic;
      font-size: 1.4rem;
      color: #494949;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #f67715;
        font-size: 1.45rem;
      }
    }
  }

  & img {
    width: 15rem;
    height: 3rem;
  }
}