.nav-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  gap: 25%;
  position: fixed;
  width: 100%;
  background-color: #F8FAFB;
  top: 0;
  z-index: 1000;

  &__logo {
    cursor: pointer;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10rem;
    height: 3.5rem;
    list-style: none;

    &__item {
      font-weight: 500;
      font-style: italic;
      font-size: 1.4rem;
      color: #494949;
      cursor: pointer;
      transition: 0.3s;
      text-decoration: none;

      &:hover, &--active {
        color: #f67715;
        font-size: 1.45rem;
      }
    }
  }

  & img {
    width: 15rem;
    height: 3rem;
  }
}
