@import '../../components/sharedStyles/utils/variables';
@import '../../components/sharedStyles/utils/mixins';

.products-showcase {
  min-height: 20rem;
  height: fit-content;
  padding-top: 6rem;
  width: 100vw;

  &__cakes {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 10rem;

    &__visible {
      display: flex;
    }
  }

  &__cookies {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 10rem;

    &__visible {
      display: flex;
    }
  }

  &__bakery {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 10rem;

    &__visible {
      display: flex;
    }
  }

  &__ice-cream {
    display: none;
    height: fit-content;
    width: 60rem;
    margin: 2rem 2rem;
    gap: 1rem;
    justify-content: flex-start;

    &__visible {
      display: flex;

    }
  }

  &__candy-bar {
    display: none;
    justify-content: center;
    height: 50rem;

    &__visible {
      display: flex;
      height: fit-content;
    }
  }
}

@include respond($tablet-landscape) {
  .products-showcase {
    width: 100%;
    padding-top: 8rem;

    &__ice-cream {
      width: 100%;
      margin: 0;
      height: fit-content;
    }
  }
}

@include respond($mini-phone) {
  .products-showcase {

    &__ice-cream {
      width: 40%;
      height: fit-content;
    }
  }
}