.nav-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  gap: 25%;
}
.nav-bar__logo {
  cursor: pointer;
}
.nav-bar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10rem;
  height: 3.5rem;
}
.nav-bar__menu__home {
  font-weight: 500;
  font-style: italic;
  font-size: 1.3rem;
  color: #494949;
  cursor: pointer;
  transition: 0.3s;
}
.nav-bar__menu__home:hover {
  color: #f67715;
  font-size: 1.35rem;
}
.nav-bar__menu__catalog {
  font-weight: 500;
  font-style: italic;
  font-size: 1.3rem;
  color: #494949;
  cursor: pointer;
  transition: 0.3s;
}
.nav-bar__menu__catalog:hover {
  color: #f67715;
  font-size: 1.35rem;
}
.nav-bar__menu__about-us {
  font-weight: 500;
  font-style: italic;
  font-size: 1.3rem;
  color: #494949;
  cursor: pointer;
  transition: 0.3s;
}
.nav-bar__menu__about-us:hover {
  color: #f67715;
  font-size: 1.35rem;
}
.nav-bar img {
  width: 15rem;
  height: 3rem;
}

.landing-page {
  display: flex;
  justify-content: center;
  background-color: #f3f5f7;
  width: 100vw;
  height: 100vh;
  min-width: 10rem;
  gap: 5rem;
}

.catalog-page {
  display: flex;
  justify-content: center;
  background-color: #f3f5f7;
  width: 100vw;
  height: 100vh;
  gap: 5rem;
}
.catalog-page__second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20rem;
  margin-top: 2rem;
  padding-top: 2rem;
  box-shadow: 0 0.5rem 2rem rgba(4, 3, 3, 0.1019607843);
  width: 15%;
  height: 50%;
  transition: 0.3s;
  animation-duration: 1s;
  animation-name: slide_in-first;
}
.catalog-page__second-section__see-more-button {
  background-color: #f67715;
  border: 0.5px solid transparent;
  color: white;
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}
.catalog-page__second-section__see-more-button:hover {
  width: 7.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
}
.catalog-page__second-section__category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.catalog-page__second-section__category__name {
  margin: 0;
  color: #5c4a4a;
  font-size: 1.8rem;
}
.catalog-page__second-section:hover {
  margin-top: 2.5rem;
  box-shadow: 0 0.5rem 2rem rgb(255, 210, 172);
}
.catalog-page__second-section img {
  width: 18rem;
  height: 22rem;
  border-radius: 0.5rem;
}
.catalog-page__first-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
  padding-top: 2rem;
  min-width: 20rem;
  box-shadow: 0 0.5rem 2rem rgba(4, 3, 3, 0.1019607843);
  width: 15%;
  height: 50%;
  transition: 0.3s;
  animation-duration: 1s;
  animation-name: slide_in-second;
}
.catalog-page__first-section__see-more-button {
  background-color: #f67715;
  border: 0.5px solid transparent;
  color: white;
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}
.catalog-page__first-section__see-more-button:hover {
  width: 7.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
}
.catalog-page__first-section__category__name {
  margin: 0;
  color: #5c4a4a;
  font-size: 1.8rem;
}
.catalog-page__first-section:hover {
  margin-top: 7.5rem;
  box-shadow: 0 0.5rem 2rem rgb(255, 210, 172);
}
.catalog-page__first-section img {
  width: 18rem;
  height: 22rem;
  border-radius: 0.5rem;
}
.catalog-page__third-section {
  margin-top: 10rem;
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0.5rem 2rem rgba(4, 3, 3, 0.1019607843);
  min-width: 20rem;
  width: 15%;
  height: 50%;
  transition: 0.3s;
  animation-duration: 1s;
  animation-name: slide_in-third;
}
.catalog-page__third-section__category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.catalog-page__third-section__category__name {
  margin: 0;
  color: #5c4a4a;
  font-size: 1.8rem;
}
.catalog-page__third-section__see-more-button {
  background-color: #f67715;
  border: 0.5px solid transparent;
  color: white;
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}
.catalog-page__third-section__see-more-button:hover {
  width: 7.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
}
.catalog-page__third-section:hover {
  margin-top: 9.5rem;
  box-shadow: 0 0.5rem 2rem rgb(255, 210, 172);
}
.catalog-page__third-section img {
  width: 18rem;
  height: 22rem;
  border-radius: 0.5rem;
}
.catalog-page__fourth-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  padding-top: 2rem;
  min-width: 20rem;
  box-shadow: 0 0.5rem 2rem rgba(4, 3, 3, 0.1019607843);
  width: 15%;
  height: 50%;
  transition: 0.3s;
  animation-duration: 1s;
  animation-name: slide_in-fourth;
}
.catalog-page__fourth-section__see-more-button {
  background-color: #f67715;
  border: 0.5px solid transparent;
  color: white;
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}
.catalog-page__fourth-section__see-more-button:hover {
  width: 7.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
}
.catalog-page__fourth-section__category__name {
  margin: 0;
  color: #5c4a4a;
  font-size: 1.8rem;
}
.catalog-page__fourth-section:hover {
  margin-top: 4rem;
  box-shadow: 0 0.5rem 2rem rgb(255, 210, 172);
}
.catalog-page__fourth-section img {
  width: 18rem;
  height: 22rem;
  border-radius: 0.5rem;
}

@keyframes slide_in-first {
  from {
    margin-top: 10rem;
  }
  to {
    margin-top: 2rem;
  }
}
@keyframes slide_in-second {
  from {
    margin-top: 15rem;
  }
  to {
    margin-top: 8rem;
  }
}
@keyframes slide_in-third {
  from {
    margin-top: 20rem;
  }
  to {
    margin-top: 10rem;
  }
}
@keyframes slide_in-fourth {
  from {
    margin-top: 11rem;
  }
  to {
    margin-top: 3rem;
  }
}

/*# sourceMappingURL=all.css.map */
