@import '../../pages/LandingPage';
@import '../../pages/CatalogPage';
@import '../../pages/AboutUsPage';
@import '../Categories/IceCream';
@import '../Categories/CandyBar';
@import '../Footer';
@import '../Categories';
@import '../ProductsInfo';
@import '../ImageSlider';
@import '../MidSection';
@import '../ScrollUp';
@import '../ProductsShowcase';
@import '../Product';
@import '../MobileComponents/MobileNavBar';
@import '../DesktopComponents/DesktopNavBar';
@import '../../icons/menu-icon';

@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Open+Sans:wght@300&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}